
.device {
    width: 200px;
    max-width: 25vw;
    margin: auto;
    position: relative;
}


/* CAMARA */

.camara .lente {
    position: absolute;
    top: 41.5%;
    transition: all 1s ease-in-out;
    width: 36.5%;
    left: 36.5%;
}

.autor:hover .camara .lente {
    transform: rotate(180deg);
}

.camara .shutter {
    position: absolute;
    background: #a1c9da;
    opacity: .3;
    width: 10%;
    height: 10%;
    top: 54.5%;
    left: 49.5%;
    transform: scale(.5);
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.autor:hover .camara .shutter {
    transform: scale(1);
}


/* SUPER 8 */

.super8 .lente_1 {
    position: absolute;
    top: 31%;
    transition: all 1s linear;
    left: 69.5%;
    width: 12.5%;
}

.super8 .lente_2 {
    position: absolute;
    top: 29%;
    transition: all 1s ease-in-out;
    width: 13%;
    left: 81.5%;
}

.super8 .lente_2_label_1 {
    position: absolute;
    top: 34.5%;
    transition: all 1s ease-in-out;
    width: 1%;
    height: 8%;
    left: 88.5%;
    opacity: .7;
    background: rgba(255, 255, 255, .3);
}

.autor:hover .super8 .lente_1 {
    transform: translate(-5px, 0);
}

.autor:hover .super8 .lente_2 {
    transform: translate(-16px, 0);
}

.autor:hover .super8 .lente_2_label_1 {
    transform: translate(-16px, -13px) scaleY(.8);
    opacity: 1;
}


/* IPHONE */

.iphone .screen {
    position: absolute;
    overflow: hidden;
    width: 31.5%;
    height: 56.5%;
    top: 21.5%;
    left: 34%;
}

.iphone .shine_1 {
    position: absolute;
    width: 200px;
    height: 20px;
    transform: rotate(45deg);
    background: white;
    opacity: .2;
    top: 30px;
    left: -50%;
    transition: all 1s ease-in-out;
}

.iphone .shine_2 {
    position: absolute;
    width: 200px;
    height: 7px;
    transform: rotate(45deg);
    background: white;
    opacity: .2;
    top: 80px;
    left: -50%;
    transition: all 1s ease-in-out;
}

.autor:hover .iphone .shine_1 {
    top: 60px;
}

.autor:hover .iphone .shine_2 {
    top: 100px;
}


/* CANON */

.canon .screen {
    width: 8%;
    position: absolute;
    top: 41.5%;
    transition: all 1s ease-in-out;
    right: 11%;
}

.autor:hover .canon .screen {
    transform: translate(50%, -4px) rotate(-20deg);
}

