.spacer {
    margin: 3vw;
}

.spacer--1 {
    margin: 1vw;
}

.spacer--2 {
    margin: 2vw;
}

.spacer--3 {
    margin: 3vw;
}

.spacer--4 {
    margin: 4vw;
}

.spacer--5 {
    margin: 5vw;
}

.spacer--6 {
    margin: 6vw;
}